{% extends 'header.html' %}
{% load static %}

{% block content %}


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    			<div class="path-container">
				<div class="container">
					<div class="container-box">
            <div class="path">
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'productsfl' %}">Products</a></li><li><a href="{% url 'company' %}">Company</a></li>
        

    </ul>
    </div>
    <div class="page-banner-nav-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                                    <div class="swiper-slide active swiper-slide-active" data-index="0">
                        <a href="{% url 'company' %}">
                            회사 소개
                        </a>
                    </div>
                    <div class="swiper-slide " data-index="1">
                        <a href="{% url 'companycert' %}">
                            인증서
                        </a>
                    </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

					</div>
				</div>
			</div>





    		<div class="topclsinfo hidden-xs">
			<div class="container">
				<div class="container-box">

					<div class="title" >
						<h2>회사 소개</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="topclsinfo visible-xs">
			<div class="container">
				<div class="container-box">

					<div class="title" >
						<h2>회사 소개</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="brand-list hidden-xs">
			<div class="container">
				<div class="container-box">
					<div class="list">
							<div class="item">
								<div class="title" >
									설립
								</div>
								<div class="body">
									<div >
										<p style="text-align: left;">
                                            1998년, SOTO는 임상 의학 박사와 물리학 석사인 두 과학자에 의해 설립되었습니다. 여러분야의 젊은 인재들과 협력하여 의학과 과학에 대한 지식을 바탕으로 젊은이들로 구성된 팀을 이끌며 고품질의 의료용 공기 정화 시스템 개발에 전념했습니다. 수년간의 지속적인 연구와 테스트 끝에, SOTO는 의료용 공기 정화 시스템 분야의 선두 제조업체가 되었습니다.</p>
                                        <p style="text-align: left;"><img src="https://sotoairpurifier.com/attached/image/20220208/6377995537702072155739139.jpg" _src="/attached/image/20220208/6377995537702072155739139.jpg" title="Metal Making2.jpg" alt="Metal Making2.jpg"/></p><p></p>
                                        <p style="text-align: left;">우리는 고객의 요구를 충족시키고 고객의 피드백을 소중히 여깁니다. 우리의 목표는 시장에 나와 있는 다른 기기들보다 더 효율적이고, 더 신뢰할 수 있으며, 더 안전하고, 사용하기 쉬운 최고급 공기청정기를 고객에게 공급하는 것입니다.</p>
                                        <p style="text-align: left;">제품을 설계할 때 우리는 기능, 효과 및 사용자 피드백에 중점을 둡니다. 탁월한 장인 정신과 세부 사항에 대한 세심한 주의는 우리의 완벽함에 대한 헌신을 명확하게 반영합니다.<br/></p>
                                        <p style="text-align: left;">첨단 기술과 다년간의 전문 지식을 바탕으로, SOTO는 의료용 공기청정기 및 살균기 분야에서 업계 선두주자가 되었을 뿐만 아니라, 가정용 및 자동차용 공기청정기까지 제품 라인을 확장하였습니다.</p>
									</div>

										<video id="my-video-159" class="video-js" controls preload="auto" width="700" height="264"
											   poster="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20210517/20210517133429_9557.png" data-setup="{}">
											<source src="https://www.sotoairpurifier.com/attached/media/20210810/20210810123424_7848.mp4" type='video/mp4'>
											<p class="vjs-no-js">
												要观看该视频，请启用JavaScript，并考虑升级到一个Web浏览器
											</p>
										</video>

								</div>
							</div>
							<div class="item">
								<div class="title" >
									기술과 미래 비전
								</div>
								<div class="body">
									<div >
										<p>우수성을 추구하는 것이 우리의 모토이며, 이 모토는 모든 아이디어의 기초가 되었습니다. 우리는 기존의 한계를 뛰어넘고 다양한 분야의 기술을 결합하여 우수한 품질의 제품을 만드는 데 열정을 가지고 있습니다. 우리의 목표는 신뢰할 수 있는 성능, 사용의 용이성, 간단한 디자인을 갖춘 제품을 설계하고 개발하는 것입니다. SOTO의 혁신적인 공기 정화 시스템은 시장의 다른 표준 제품을 능가합니다.
                                        </p>
                                        <p><img src="https://www.sotoairpurifier.com/attached/image/20220208/6377995785866367957236152.jpg" title="ex.jpg" alt="ex.jpg"/></p>
                                        <p>우리의 제품 개발은 필요성과 영감에서 시작됩니다. 각 제품은 수많은 개선과 철저한 테스트를 거쳐 최종 완성됩니다. 이 오랜 세심한 과정은 탁월함을 향한 우리의 헌신을 나타냅니다.</p>
                                        <p>고객 서비스는 우리의 최우선 과제입니다. 우리는 고객의 피드백을 소중히 여겨 제품과 서비스 시스템을 더욱 개선합니다. SOTO는 병원과 가정에 더 깨끗하고 건강한 실내 공기를 제공하는 고품질 공기 정화 시스템의 자랑스러운 제조업체입니다. 우리는 더 나은 공기 질이 더 건강한 미래를 의미한다고 확신합니다.</p>
									</div>


								</div>
							</div>
							<div class="item">
								<div class="title" >
									제품 설계의 3대 원칙
								</div>
								<div class="body">
									<div >
										<p><span style="font-size:16px;font-family: &#39;Arial&#39;,&#39;sans-serif&#39;">제품을 설계하고 개발하는 과정에서 우리는 항상 세 가지 원칙을 따릅니다: 안전성, 신뢰성, 사용 편의성.</span></p>
                                        <p><span style="font-size: 16px; font-family: Arial, sans-serif; color: rgb(79, 129, 189);"><b>안전성:</b>&nbsp;</span>우리는 사용자 안전을 매우 중요하게 생각하며, 모든 구성 요소에 엄격한 품질 관리를 적용합니다. 이를 통해 모든 상황에서 최대한의 사용자 안전을 보장합니다.</p>
                                        <p><span style="color: rgb(79, 129, 189);"><strong><span style="font-size: 16px; font-family: Arial, sans-serif;">신뢰성:&nbsp;</span></strong></span>제품 개발 초기 단계부터 신뢰성을 강조합니다. 우리의 설계와 고품질 구성 요소가 제품의 신뢰성과 내구성을 보장합니다.</p>
                                        <p><span style="color: rgb(79, 129, 189);"><strong><span style="font-size: 16px;"><span style="font-size: 16px; font-family: Arial, sans-serif;">사용 편의성</span><span style="font-family: Arial, sans-serif; font-size: 16px;"></span><span style="font-size: 16px;"><span style="font-family:宋体"><strong style="color: rgb(79, 129, 189);"><span style="font-size: 16px; font-family: Arial, sans-serif;">:&nbsp;</span></strong></span></span></span></strong></span>고객을 염두에 두고 제품을 설계합니다. 모든 제품은 사용자가 쉽게 조작할 수 있으며, 유지 보수도 간편합니다.</p>
									</div>


								</div>
							</div>
							<div class="item">
								<div class="title" >
									세계 시장에서의 SOTO
								</div>
								<div class="body">
									<div >
										<p>2007년부터 우리의 제품은 CSA, EK, CE, TUV, ETL 등의 인증을 받았습니다. 우리는 북미, 한국, 유럽 등 해외 시장에 선도적으로 진출했습니다.</p>
                                        <p>SOTO의 공기 정화 시스템은 여러 첨단 공기 처리 기술을 결합한 혁신적인 통합 시스템입니다. 이 시스템은 정전기 흡착, 기계적 여과, 살균 처리를 통합하여 공기 중의 병원균과 오염 물질에 대해 포괄적인 보호를 제공합니다. SOTO는 중국과 해외의 의료 시설을 위한 공기 정화 시스템의 선도적인 공급업체로 자리매김했습니다. 우리의 공기 정화 시스템은 전 세계 의료 종사자들로부터 긍정적인 피드백을 받고 있습니다.</p>
                                        <p><br/></p>
									</div>


								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="brand-list visible-xs">
            <!-- <div class="brand-list hidden-xs"> -->
                <div class="container">
                    <div class="container-box">
                        <div class="list">
                                <div class="item">
                                    <div class="title" >
                                        설립
                                    </div>
                                    <div class="body">
                                        <div >
                                            <p style="text-align: left;">
                                                1998년 SOTO는 임상의학 박사와 물리학 석사라는 두 명의 과학자에 의해 베이징에 설립되었습니다. 의학 및 과학에 대한 지식을 바탕으로 그들은 젊은 팀을 이끌고 고품질 의료용 공기 정화 시스템을 개발하는 데 헌신했습니다. 수년간의 지속적인 연구와 테스트를 통해 SOTO는 의료용 공기 정화 시스템 분야의 선두 제조업체가 되었습니다.</p>
                                            <p style="text-align: left;"><img src="https://sotoairpurifier.com/attached/image/20220208/6377995537702072155739139.jpg" _src="/attached/image/20220208/6377995537702072155739139.jpg" title="Metal Making2.jpg" alt="Metal Making2.jpg"/></p><p></p>
                                            <p style="text-align: left;">우리는 고객의 요구를 충족시키고 고객의 피드백을 소중히 여기기 위해 노력합니다. 우리의 초점은 시장의 다른 장치보다 더 효율적이고, 더 안정적이고, 더 안전하고, 작동하기 쉬운 최고급 공기 청정기를 고객에게 공급하는 것입니다.</p>
                                            <p style="text-align: left;">제품을 디자인할 때 우리는 제품 기능, 효능, 사용자 피드백에 중점을 둡니다. 뛰어난 장인정신과 세부 사항에 대한 큰 관심은 완벽을 향한 우리의 헌신을 분명히 반영합니다.<br/></p>
                                            <p style="text-align: left;">첨단 기술과 다년간의 전문 지식을 바탕으로 SOTO는 의료용 공기 청정기 및 살균기 분야의 업계 선두주자가 되었을 뿐만 아니라 가정용 및 차량용 공기 청정기를 포함하도록 제품 라인을 확장했습니다.</p>
                                        </div>
    
                                            <video id="my-video-159" class="video-js" controls preload="auto" width="700" height="264"
                                                   poster="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20210517/20210517133429_9557.png" data-setup="{}">
                                                <source src="https://www.sotoairpurifier.com/attached/media/20210810/20210810123424_7848.mp4" type='video/mp4'>
                                                <p class="vjs-no-js">
                                                    要观看该视频，请启用JavaScript，并考虑升级到一个Web浏览器
                                                </p>
                                            </video>
    
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title" >
                                        우리의 성공
                                    </div>
                                    <div class="body">
                                        <div >
                                            <p>우수성을 추구하는 것이 우리의 모토이며 이 모토는 우리의 모든 아이디어의 기초가 되었습니다. 우리는 기존의 장벽을 깨고 다양한 분야의 기술을 결합하여 우수한 품질의 제품을 만드는 데 열정을 쏟고 있습니다. 우리의 목표는 안정적인 성능, 간편한 작동, 단순한 물리적 디자인을 갖춘 제품을 설계하고 개발하는 것입니다. SOTO의 혁신적인 공기 정화 시스템은 시중의 다른 어떤 표준 제품보다 성능이 뛰어납니다.
                                            </p>
                                            <p><img src="https://www.sotoairpurifier.com/attached/image/20220208/6377995785866367957236152.jpg" title="ex.jpg" alt="ex.jpg"/></p>
                                            <p>우리의 제품 개발은 필요와 영감에서 시작됩니다. 각 제품은 완성되기 전에 수많은 개선과 철저한 테스트를 거칩니다. 이 길고 세심한 과정은 우수성을 향한 우리의 헌신을 나타냅니다.</p>
                                            <p>고객 서비스는 우리의 최우선 순위입니다. 우리는 제품과 서비스 시스템을 더욱 향상시키기 위해 고객의 피드백을 소중하게 생각합니다. SOTO는 병원과 가정에 더 깨끗하고 건강한 실내 공기를 제공하기 위해 노력하는 고품질 공기 정화 시스템의 자랑스러운 제조업체입니다. 우리는 더 나은 공기 질이 더 건강한 미래를 의미한다고 믿습니다.</p>
                                        </div>
    
    
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title" >
                                        제품 디자인
                                    </div>
                                    <div class="body">
                                        <div >
                                            <p><span style="font-size:16px;font-family: &#39;Arial&#39;,&#39;sans-serif&#39;">제품을 설계하고 개발하는 과정에서 우리는 항상 안전성, 신뢰성, 작동 용이성이라는 세 가지 제품 설계 원칙을 따릅니다.</span></p>
                                            <p><span style="font-size: 16px; font-family: Arial, sans-serif; color: rgb(79, 129, 189);"><b>안전:</b>&nbsp;</span>우리는 모든 구성 요소에 대한 엄격한 품질 관리를 강화하여 사용자 안전을 매우 중요하게 생각합니다. 이는 가능한 모든 상황에서 최대한의 사용자 안전을 보장합니다.</p>
                                            <p><span style="color: rgb(79, 129, 189);"><strong><span style="font-size: 16px; font-family: Arial, sans-serif;">신뢰성:&nbsp;</span></strong></span>제품 개발 초기부터 제품 신뢰성이 강조됩니다. 우리의 디자인과 고품질 구성 요소는 제품의 신뢰성과 내구성을 보장합니다.</p>
                                            <p><span style="color: rgb(79, 129, 189);"><strong><span style="font-size: 16px;"><span style="font-size: 16px; font-family: Arial, sans-serif;">작동 용이성</span><span style="font-family: Arial, sans-serif; font-size: 16px;"></span><span style="font-size: 16px;"><span style="font-family:宋体"><strong style="color: rgb(79, 129, 189);"><span style="font-size: 16px; font-family: Arial, sans-serif;">:&nbsp;</span></strong></span></span></span></strong></span>당사 제품은 고객을 염두에 두고 설계되었습니다. 모든 장치는 사용자 친화적입니다. 작동이 직관적이고 유지 관리가 쉽습니다.</p>
                                        </div>
    
    
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="title" >
                                        시장 분포
                                    </div>
                                    <div class="body">
                                        <div >
                                            <p>2007년부터 당사 제품은 CSA, EK, CE, TUV 및 ETL로부터 인증을 받았습니다. 북미, 한국, 유럽 등 해외시장 진출에 앞장섰습니다.</p>
                                            <p>SOTO 공기 정화 시스템은 여러 가지 첨단 공기 처리 기술을 결합합니다. 정전기 흡착, 기계적 여과, 살균 처리를 혁신적으로 통합한 것입니다. SOTO 공기 정화 시스템은 공기 중 병원체 및 오염 물질로부터 포괄적인 보호 기능을 제공합니다. SOTO는 중국 및 해외 의료 시설을 위한 공기 정화 시스템의 선두 공급업체가 되었습니다. 우리의 공기 정화 시스템은 전 세계 의료 종사자들로부터 긍정적인 평가를 받았습니다.</p>
                                            <p><br/></p>
                                        </div>
    
    
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
			
		</div>




<!--     
    <script src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/content/bundleen.min.js?v=20220412-001"></script> -->
    
    
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript">
        var someImages = document.querySelectorAll('img');
        objectFitImages(someImages);
        //AOS.init({
        //	easing: 'ease-out-back',
        //	duration: 1000
        //});
        AOS.init();
        document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
                AOS.init();
            }
        }

        //2022 视频16：9
        $(function () {

            //微信
            var wxOption = {
                title: 'SOTO赛多空气消毒机官网',
                link: location.href,
                imgUrl: 'https://www.sotoairpurifier.com/content/img/fx.jpg',
                desc: '高端消毒机 专业选赛多 https://www.soto.cn'
            }
            var appId = "wx7f9548d8827a59e6";
            $.ajax({
                url: 'https://api.soto.cn/api/wx/jsapisignatureasync',
                data: { appId: appId, url: wxOption.link },
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    if (res.statusCode == 200) {
                        var data = res.data;
                        wx.config({
                            debug: false, //
                            appId: appId, // 必填，公众号的唯一标识
                            timestamp: Number(data.timestamp), // 必填，生成签名的时间戳
                            nonceStr: data.noncestr, // 必填，生成签名的随机串
                            signature: data.signature,// 必填，签名
                            jsApiList: ['updateAppMessageShareData',
                                'updateTimelineShareData',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'onMenuShareQZone',] // 必填，需要使用的JS接口列表
                        });
                        wx.ready(function () {
                            wx.onMenuShareTimeline({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                success: function () {
                                    // 用户点击了分享后执行的回调函数
                                },
                            });
                            wx.updateAppMessageShareData({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                desc: wxOption.desc, // 分享描述
                                success: function () {
                                    // 设置成功
                                },
                            });
                            wx.updateTimelineShareData({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                success: function () {
                                    // 设置成功
                                },
                            });

                        });
                        wx.error(function (ress) {
                            console.log(ress)
                        });
                    }
                    else {
                        console.log(res)
                    }
                }

            });

            $(window).resize(function () {
                var videoH = $('.video-js').width() / 16 * 9;
                var winW = $(window).width();
                if (location.href.includes('brand/company')) {
                    //未知，只适用企业简介视频
                    if (winW < 768) {
                        videoH = winW / 16 * 9 - 16;
                    }
                }
                $('.video-js').css({ height: videoH + 'px' })
            });
            var videoH = $('.video-js').outerWidth() / 16 * 9;
            var winW = $(window).width();
            if (location.href.includes('brand/company')) {
                //未知，只适用企业简介视频
                if (winW < 768) {
                    videoH = winW / 16 * 9 - 16;
                }
            }

            $('.video-js').css({ height: videoH + 'px' })
            console.log($('.video-js').outerWidth(), '$(.video - js).width()')
            console.log(videoH, 'videoH')

            console.log($(window).width(), 'windows width')
        })
    </script>

    <div class="footer-icon">
        <ul>
            <li>
                <div class="item" id="fot1">
                    <div class="img">
                        <img src="/Content/Images/icon/2023/email.png" />
                    </div>
                    <div class="hover" style="width:290px;left:-290px;">
                        <div class="closess">
                            <i class="layui-icon layui-icon-close"></i>
                        </div>
                        <p>sotosales1@outlook.com</p>
                        <a href="mailto:sotosales1@outlook.com">sotosales1@outlook.com</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item" id="fot2">
                    <div class="img">
                        <img src="/Content/Images/icon/2023/whatsapp.png" />
                    </div>
                    <div class="hover">
                        <div class="closess">
                            <i class="layui-icon layui-icon-close"></i>
                        </div>
                        <p>13811411994</p>
                        <a href="tel:13811411994">13811411994</a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/contact/">
                    <img src="/Content/Images/fot-3.png" />
                    <p>
                        Contact <br />Us
                    </p>
                </a>
            </li>
        </ul>
    </div>


</body>
</html>
{% endblock %}