{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
          <li><a href="{% url 'home' %}">홈</a></li>
      <li><a href="{% url 'newproducts' %}">신제품</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
      <div class="swiper-container">
          <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-active active">
                      <a href="{% url 'newproducts' %}">신제품</a>
                  </div>
                          </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>신제품</h2>
        </div>
          <div class="body" >
            <p>우리는 최고급 공기 살균기의 개발과 생산에 전념하고 있습니다. 제품은 기업의 핵심이며, SOTO의 공기 살균기는 성능과 혁신 면에서 국내외 업계에서 선도적인 위치를 차지하고 있습니다. 우리는 제품 설계의 세 가지 원칙인 안전성, 신뢰성, 단순성을 준수하고 있습니다.
              <br>
              오늘날 SOTO는 공기 살균기 산업에서 최고급 브랜드로 자리매김하였으며, 국내외 의료진으로부터 많은 찬사와 신뢰를 받고 있습니다. COVID-19 팬데믹이 지속되고 있는 이 시대에, 공기 살균기술의 중요성이 더욱 부각되고 있으며, 우리는 이러한 기술을 통해 건강과 안전을 지키는 데 기여하고 있습니다. 모든 분야에서 새로운 제품을 창조하는 것은 과학기술의 진보를 의미하며, 이는 인류가 어려움을 극복하고 더 나은 미래로 나아가는 데 기여할 것이라 확신합니다.<br/><br/></p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>신제품</h2>
        </div>
        <div class="body" >
          <p>우리는 최고급 공기 살균기의 개발과 생산에 전념하고 있습니다. 제품은 기업의 핵심이며, SOTO의 공기 살균기는 성능과 혁신 면에서 국내외 업계에서 선도적인 위치를 차지하고 있습니다. 우리는 제품 설계의 세 가지 원칙인 안전성, 신뢰성, 단순성을 준수하고 있습니다.
            <br>
            오늘날 SOTO는 공기 살균기 산업에서 최고급 브랜드로 자리매김하였으며, 국내외 의료진으로부터 많은 찬사와 신뢰를 받고 있습니다. COVID-19 팬데믹이 지속되고 있는 이 시대에, 공기 살균기술의 중요성이 더욱 부각되고 있으며, 우리는 이러한 기술을 통해 건강과 안전을 지키는 데 기여하고 있습니다. 모든 분야에서 새로운 제품을 창조하는 것은 과학기술의 진보를 의미하며, 이는 인류가 어려움을 극복하고 더 나은 미래로 나아가는 데 기여할 것이라 확신합니다.<br/><br/></p>
        </div>
      </div>
    </div>
  </div>


  <div class="new-pt-box hidden-xs">
    <div class="container">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy9' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027125408_8070.jpg" alt="SOTO-Y9 Smart Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y9 스마트공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템과 강력한 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9은 음성 및 손동작 제어 시스템을 탑재해 사용자 간 교차 오염을 방지하는 세계 최고 수준의 스마트 공기청정기입니다. 대형 듀얼 디스플레이 패널을 통해 실시간으로 공기질과 필터 교체 남은 시간을 확인할 수 있습니다. 혁신적인 분리형 필터 설계로 더욱 비용 효율적입니다. 또한, 필터 중앙에 내장된 UV-Photo 촉매는 병원균을 대폭 파괴할 수 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spg5' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144331_8161.jpg" alt="SOTO-G5 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G5 의료용 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템 / 다단계 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      G5 is a floor-standing air purifier with strong germicidal effectiveness. It combines multiple air treatment technologies to effectively clean and sterilize indoor air. The smart control panel displays an array of functions and is easy to operate. Contactless hand gesture operation ensures safe and easy operation. 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy6' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230620/20230620172748_1408.jpg" alt="SOTO-Y6  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y6 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 is an intelligent air purifier with next-generation sterilizing technology. Sleek tower-style design saves space. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy8' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144507_8474.jpg" alt="SOTO-Y8 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y8 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 is an intelligent air purifier with next-generation sterilizing technology. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk90' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144702_1752.jpg" alt="SOTO-BK90 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-BK90 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      다양한 공기 처리 기술을 결합한 통합 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90 is a top-grade wall-mounted air purifier with smart control system, integrated air purification and sterilization technologies, secure installation method, and easy maintenance. BK90 is the innovator among wall-mounted air purifiers.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spuv360' %}" target="_blank">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144816_1509.jpg" alt="SOTO-UV360 Medical UV Sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-UV360 의료용 UV 살균기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어시스템으로 360도 살균
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360’s smart operating system eliminates all the downsides of  conventional UV sterilizers. Delayed start, radar sensor and automatic shut-off functions prevent accidental UV exposure. Usage meter automatically tracks unit usage.
                    </div>
                  </div>
                </a>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <div class="new-pt-box visible-xs">
    <div class="container">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy9' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027125408_8070.jpg" alt="SOTO-Y9 Smart Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y9 스마트공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템과 강력한 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9은 음성 및 손동작 제어 시스템을 탑재해 사용자 간 교차 오염을 방지하는 세계 최고 수준의 스마트 공기청정기입니다. 대형 듀얼 디스플레이 패널을 통해 실시간으로 공기질과 필터 교체 남은 시간을 확인할 수 있습니다. 혁신적인 분리형 필터 설계로 더욱 비용 효율적입니다. 또한, 필터 중앙에 내장된 UV-Photo 촉매는 병원균을 대폭 파괴할 수 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spg5' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144331_8161.jpg" alt="SOTO-G5 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G5 의료용 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템/다단계 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      G5 is a floor-standing air purifier with strong germicidal effectiveness. It combines multiple air treatment technologies to effectively clean and sterilize indoor air. The smart control panel displays an array of functions and is easy to operate. Contactless hand gesture operation ensures safe and easy operation. 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy6' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230620/20230620172748_1408.jpg" alt="SOTO-Y6  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y6 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 is an intelligent air purifier with next-generation sterilizing technology. Sleek tower-style design saves space. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy8' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144507_8474.jpg" alt="SOTO-Y8 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-Y8 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 is an intelligent air purifier with next-generation sterilizing technology. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk90' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144702_1752.jpg" alt="SOTO-BK90 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-BK90 공기청정기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      다양한 공기 처리 기술을 결합한 통합 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90 is a top-grade wall-mounted air purifier with smart control system, integrated air purification and sterilization technologies, secure installation method, and easy maintenance. BK90 is the innovator among wall-mounted air purifiers.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spuv360' %}" target="_blank">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144816_1509.jpg" alt="SOTO-UV360 Medical UV Sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-UV360 의료용 UV 살균기
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어시스템으로 360도 살균
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360’s smart operating system eliminates all the downsides of  conventional UV sterilizers. Delayed start, radar sensor and automatic shut-off functions prevent accidental UV exposure. Usage meter automatically tracks unit usage.
                    </div>
                  </div>
                </a>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>



  <!-- <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/products/floor-standing/">Floor-standing</a>
                                  </li>
                                  <li>
                                      <a href="/products/portable/">Portable</a>
                                  </li>
                                  <li>
                                      <a href="/products/wall-mounted/">Wall Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/ceiling-type/">Ceiling Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/uv-sterilizer/">UV Sterilizer</a>
                                  </li>
                                  <li>
                                      <a href="/products/others/">Others</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div> -->
      <!-- <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div> 
  </div> -->

    
    


{% endblock %}
