{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
    <li><a href="{% url 'home' %}">홈</a></li>
    <li><a href="{% url 'productsfl' %}">제품</a></li><li><a href="{% url 'productswm' %}">벽걸이형</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
                              <div class="swiper-slide " data-index="0">
                  <a href="{% url 'productsfl' %}">
                  스탠딩형
                </a>
            </div>
            <div class="swiper-slide " data-index="1">
                <a href="{% url 'productspo' %}">
                    포터블
                </a>
            </div>
            <div class="swiper-slide active swiper-slide-active" data-index="2">
                <a href="{% url 'productswm' %}">
                    벽걸이형
                </a>
            </div>
            <div class="swiper-slide " data-index="3">
                <a href="{% url 'productscm' %}">
                    천장형
                </a>
            </div>
            <div class="swiper-slide " data-index="4">
                <a href="{% url 'productsuv' %}">
                    UV 살균기
                </a>
            </div>
            <div class="swiper-slide " data-index="5">
                <a href="{% url 'productsot' %}">
                    기타
                </a>
            </div>
    </div>

  </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>벽걸이형</h2>
        </div>
          <div class="body" >
            <p>벽걸이형 공기청정기는 공간 절약으로 인해 의료 종사자들이 선호합니다. BK90은 스마트 제어 시스템과 통합된 공기 정화 및 살균 기술을 갖춘 최고급 벽걸이형 공기청정기입니다. BK90은 벽걸이형 공기청정기 분야의 혁신 제품으로 전 세계 의료 전문가들이 선호하는 제품입니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>벽걸이형</h2>
        </div>
          <div class="body" >
            <p>벽걸이형 공기청정기는 공간 절약으로 인해 의료 종사자들이 선호합니다. BK90은 스마트 제어 시스템과 통합된 공기 정화 및 살균 기술을 갖춘 최고급 벽걸이형 공기청정기입니다. BK90은 벽걸이형 공기청정기 분야의 혁신 제품으로 전 세계 의료 전문가들이 선호하는 제품입니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk100' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220102934_6962.jpg" alt="SOTO-BK100 Wall-mounted intelligent air sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK100 intelligent air sterilizer 벽걸이형
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      휴대용 제어화면/음성조작 기능/UV-광촉매 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK100에는 지능형 휴대용 제어 화면을 갖춘 음성 운영 체제가 있습니다. 간단한 음성 명령으로 다양한 기능을 마음대로 조작할 수 있습니다. 스마트 핸드헬드 화면을 통해 기계는 칸막이벽에서 멀리 떨어진 곳에서도 쉽게 작동할 수 있으며 일반 적외선 리모콘의 다양한 제한을 받지 않습니다. 이동식 공기 살균기가 장착된 팬 시스템은 지속적으로 급증하고 큰 풍량을 출력할 수 있어 살균 및 살균 효율이 크게 향상됩니다. 두꺼운 필터 시스템은 중앙에 UV-광촉매 살균 시스템을 탑재해 정화와 살균을 동시에 할 수 있다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk90' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144702_1752.jpg" alt="SOTO-BK90 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      다양한 공기 처리 기술을 결합한 통합 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90은 스마트 제어 시스템, 통합 공기 정화 및 살균 기술, 안전한 설치 방법, 간편한 유지 관리를 갖춘 최고급 벽걸이형 공기 청정기입니다. BK90은 벽걸이형 공기청정기의 혁신가입니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container visible-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk100' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220102934_6962.jpg" alt="SOTO-BK100 Wall-mounted intelligent air sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK100 intelligent air sterilizer 벽걸이형
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      휴대용 제어화면/음성조작 기능/UV-광촉매 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK100에는 지능형 휴대용 제어 화면을 갖춘 음성 운영 체제가 있습니다. 간단한 음성 명령으로 다양한 기능을 마음대로 조작할 수 있습니다. 스마트 핸드헬드 화면을 통해 기계는 칸막이벽에서 멀리 떨어진 곳에서도 쉽게 작동할 수 있으며 일반 적외선 리모콘의 다양한 제한을 받지 않습니다. 이동식 공기 살균기가 장착된 팬 시스템은 지속적으로 급증하고 큰 풍량을 출력할 수 있어 살균 및 살균 효율이 크게 향상됩니다. 두꺼운 필터 시스템은 중앙에 UV-광촉매 살균 시스템을 탑재해 정화와 살균을 동시에 할 수 있다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbk90' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144702_1752.jpg" alt="SOTO-BK90 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      다양한 공기 처리 기술을 결합한 통합 정화 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      BK90은 스마트 제어 시스템, 통합 공기 정화 및 살균 기술, 안전한 설치 방법, 간편한 유지 관리를 갖춘 최고급 벽걸이형 공기 청정기입니다. BK90은 벽걸이형 공기청정기의 혁신가입니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>



  <!-- <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="{% url 'newproducts' %}">New Products</a>
                  </li>
                  <li class="">
                      <a href="{% url 'productsfl' %}">Products</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="{% url 'productsfl' %}">Floor-standing</a>
                                  </li>
                                  <li>
                                      <a href="{% url 'productspo' %}">Portable</a>
                                  </li>
                                  <li>
                                      <a href="{% url 'productswm' %}">Wall Mounted</a>
                                  </li>
                                  <li>
                                      <a href="{% url 'productscm' %}">Ceiling Mounted</a>
                                  </li>
                                  <li>
                                      <a href="{% url 'productsuv' %}">UV Sterilizer</a>
                                  </li>
                                  <li>
                                      <a href="{% url 'productsot' %}">Others</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div> -->

    
    


{% endblock %}
