{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
          <li><a href="{% url 'home' %}">홈</a></li>
      <li><a href="{% url 'productsfl' %}">제품</a></li><li><a href="{% url 'productsfl' %}">스탠딩형</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
      <div class="swiper-container">
          <div class="swiper-wrapper">
                                  <div class="swiper-slide active swiper-slide-active" data-index="0">
                      <a href="/products/floor-standing/">
                          Floor-standing
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="1">
                      <a href="/products/portable/">
                          Portable
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="2">
                      <a href="/products/wall-mounted/">
                          Wall Mounted
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="3">
                      <a href="/products/ceiling-type/">
                          Ceiling Mounted
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="4">
                      <a href="/products/uv-sterilizer/">
                          UV Sterilizer
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="5">
                      <a href="/products/others/">
                          Others
                      </a>
                  </div>
          </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>Floor-standing</h2>
        </div>
          <div class="body" >
            <p>The floor-standing air purifiers（G series）are suitable for indoor air purification and disinfection of large space, such as hospital operating room, emergency room, outpatient hall, infectious disease department, offices, etc. </p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>Floor-standing</h2>
        </div>
          <div class="body" >
            <p>The floor-standing air purifiers（G series）are suitable for indoor air purification and disinfection of large space, such as hospital operating room, emergency room, outpatient hall, infectious disease department, offices, etc. </p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">

            {% for pd in product %}
              {% if pd.status == 'yes' %}
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g5/">                
                  
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    {% if pd.image %}
                      <img src="{{ pd.image.url}}" alt="" >
                    {% else %}
                    {% endif %}                  
                  </div>


                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      {{ pd.pname}}
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      {{ pd.body}}
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Smart control system, integrated electrostatic adsorption technology and mechanical filtration, combined air treatment technologies provide comprehensive protection against airborne pollutants.
                    </div>
                  </div>
               
 
                </a>
              </div>
            </div>
              {% endif %}
            {% endfor %}

        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>



  <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/products/floor-standing/">Floor-standing</a>
                                  </li>
                                  <li>
                                      <a href="/products/portable/">Portable</a>
                                  </li>
                                  <li>
                                      <a href="/products/wall-mounted/">Wall Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/ceiling-type/">Ceiling Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/uv-sterilizer/">UV Sterilizer</a>
                                  </li>
                                  <li>
                                      <a href="/products/others/">Others</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div>

    
    


{% endblock %}
