{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
          <li><a href="{% url 'home' %}">홈</a></li>
      <li><a href="{% url 'productsfl' %}">제품</a></li><li><a href="{% url 'productsuv' %}">UV 살균기</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
                              <div class="swiper-slide " data-index="0">
                  <a href="{% url 'productsfl' %}">
                  스탠드형
                </a>
            </div>
            <div class="swiper-slide " data-index="1">
                <a href="{% url 'productspo' %}">
                    포터블
                </a>
            </div>
            <div class="swiper-slide " data-index="2">
                <a href="{% url 'productswm' %}">
                    벽걸이형
                </a>
            </div>
            <div class="swiper-slide " data-index="3">
                <a href="{% url 'productscm' %}">
                    천장형
                </a>
            </div>
            <div class="swiper-slide active swiper-slide-active" data-index="4">
                <a href="{% url 'productsuv' %}">
                    UV 살균기
                </a>
            </div>
            <div class="swiper-slide " data-index="5">
                <a href="{% url 'productsot' %}">
                    기타
                </a>
            </div>
    </div>

  </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>UV Sterilizer</h2>
        </div>
          <div class="body" >
            <p><span style="font-family: Arial;"> UV 살균기는 공기 중의 병원성 미생물과 물체 표면의 병원성 미생물을 효과적으로 제거하기 위해 의료 시스템에서 널리 사용됩니다. UV360은 차세대 UV 살균기입니다. 스마트한 운영 시스템은 기존 UV 살균기의 모든 단점을 보완합니다. 딜레이드 스타트, 레이더 센서 및 자동 차단 기능이 있어 우발적으로 UV에 노출되는 것을 방지합니다. 사용량 측정기를 통해 사용량을 자동으로 추적합니다.</span></p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>UV Sterilizer</h2>
        </div>
          <div class="body" >
            <p><span style="font-family: Arial;"> UV 살균기는 공기 중의 병원성 미생물과 물체 표면의 병원성 미생물을 효과적으로 제거하기 위해 의료 시스템에서 널리 사용됩니다. UV360은 차세대 UV 살균기입니다. 스마트한 운영 시스템은 기존 UV 살균기의 모든 단점을 보완합니다. 딜레이드 스타트, 레이더 센서 및 자동 차단 기능이 있어 우발적으로 UV에 노출되는 것을 방지합니다. 사용량 측정기를 통해 사용량을 자동으로 추적합니다.</span></p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spu8' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220112338_9531.jpg" alt="U8 UV lamp controller" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      U8 UV lamp controller
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      스마트 운영 체제는 설치가 쉽습니다.
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      U8은 새로운 지능형 UV 램프 컨트롤러로, 혁신의 출발점은 세심한 관찰의 힘입니다. 세심한 관찰을 통해서만 진정한 혁신과 제품 개선이 가능합니다. 고객에게 보다 고급스러운 서비스 경험을 제공하기 위해 지속적으로 노력하고 있으며 지능형 운영 체제, 레이더 센서, 부팅 자동 기록 살균 시간 및 원클릭 내보내기 기능을 갖춘 U8 지능형 UV 램프 컨트롤러를 개발했습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spux' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220125852_1304.jpg" alt="UX medical intelligent ceiling UV lamp" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UX medical intelligent ceiling UV lamp
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      의료등급 살균 99.99% 살균율
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UX는 천장 UV 살균램프의 스마트 패널과 강력한 살균 효과입니다. 단순하고 분위기 있는 외관, 내구성이 뛰어난 금속 본체, 풍부한 지능형 디스플레이 기능 등 모두 고급 살균기의 특징을 돋보이게 합니다. 의료진들로부터 점점 더 널리 존경받고 선호되고 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spuv360' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144816_1509.jpg" alt="SOTO-UV360 Medical UV Sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360 Medical UV Sterilizer
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어시스템으로 360도 살균
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360의 스마트 운영 체제는 기존 UV 살균기의 모든 단점을 제거합니다. 지연된 시작, 레이더 센서 및 자동 차단 기능은 우발적인 UV 노출을 방지합니다. 사용량 측정기는 장치 사용량을 자동으로 추적합니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbiguv' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220140128_6443.jpg" alt="Big UV medical UV sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Big UV medical UV sterilizer
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 운영 체제/플라즈마 기술/음성 명령 제어
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UVC 살균 로봇은 UVC 자외선을 이용해 세포의 탈산핵산(DNA)과 리보핵산(RNA)을 파괴해 이량체를 형성해 살균·살균을 달성한다. ·UVC UV살균은 비접촉식, 비화학잔류살균방식으로 의료 및 사업분야에서 효과적이고 신속하며 안전하게 사용하여 환경살균과정을 수행하고 사용자와 직원에게 안전한 환경을 제공할 수 있는 방법이다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container visible-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spu8' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220112338_9531.jpg" alt="U8 UV lamp controller" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      U8 UV lamp controller
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      스마트 운영 체제는 설치가 쉽습니다.
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      U8은 새로운 지능형 UV 램프 컨트롤러로, 혁신의 출발점은 세심한 관찰의 힘입니다. 세심한 관찰을 통해서만 진정한 혁신과 제품 개선이 가능합니다. 고객에게 보다 고급스러운 서비스 경험을 제공하기 위해 지속적으로 노력하고 있으며 지능형 운영 체제, 레이더 센서, 부팅 자동 기록 살균 시간 및 원클릭 내보내기 기능을 갖춘 U8 지능형 UV 램프 컨트롤러를 개발했습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spux' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220125852_1304.jpg" alt="UX medical intelligent ceiling UV lamp" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UX medical intelligent ceiling UV lamp
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      의료등급 살균 99.99% 살균율
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UX는 천장 UV 살균램프의 스마트 패널과 강력한 살균 효과입니다. 단순하고 분위기 있는 외관, 내구성이 뛰어난 금속 본체, 풍부한 지능형 디스플레이 기능 등 모두 고급 살균기의 특징을 돋보이게 합니다. 의료진들로부터 점점 더 널리 존경받고 선호되고 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spuv360' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144816_1509.jpg" alt="SOTO-UV360 Medical UV Sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360 Medical UV Sterilizer
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어시스템으로 360도 살균
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UV360의 스마트 운영 체제는 기존 UV 살균기의 모든 단점을 제거합니다. 지연된 시작, 레이더 센서 및 자동 차단 기능은 우발적인 UV 노출을 방지합니다. 사용량 측정기는 장치 사용량을 자동으로 추적합니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spbiguv' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20240220/20240220140128_6443.jpg" alt="Big UV medical UV sterilizer" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Big UV medical UV sterilizer
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 운영 체제/플라즈마 기술/음성 명령 제어
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      UVC 살균 로봇은 UVC 자외선을 이용해 세포의 탈산핵산(DNA)과 리보핵산(RNA)을 파괴해 이량체를 형성해 살균·살균을 달성한다. ·UVC UV살균은 비접촉식, 비화학잔류살균방식으로 의료 및 사업분야에서 효과적이고 신속하며 안전하게 사용하여 환경살균과정을 수행하고 사용자와 직원에게 안전한 환경을 제공할 수 있는 방법이다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>




  <!-- <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                            <li>
                              <a href="{% url 'productsfl' %}">Floor-standing</a>
                          </li>
                          <li>
                              <a href="{% url 'productspo' %}">Portable</a>
                          </li>
                          <li>
                              <a href="{% url 'productswm' %}">Wall Mounted</a>
                          </li>
                          <li>
                              <a href="{% url 'productscm' %}">Ceiling Mounted</a>
                          </li>
                          <li>
                              <a href="{% url 'productsuv' %}">UV Sterilizer</a>
                          </li>
                          <li>
                              <a href="{% url 'productsot' %}">Others</a>
                          </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div> -->

    
    


{% endblock %}
