{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
    <li><a href="{% url 'home' %}">홈</a></li>
      <li><a href="{% url 'productsfl' %}">제품</a></li><li><a href="{% url 'productscm' %}">천장형</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
                              <div class="swiper-slide " data-index="0">
                  <a href="{% url 'productsfl' %}">
                    스탠딩형
                  </a>
              </div>
              <div class="swiper-slide " data-index="1">
                  <a href="{% url 'productspo' %}">
                    포터블
                  </a>
              </div>
              <div class="swiper-slide " data-index="2">
                  <a href="{% url 'productswm' %}">
                    벽걸이형
                  </a>
              </div>
              <div class="swiper-slide active swiper-slide-active" data-index="3">
                  <a href="{% url 'productscm' %}">
                    천장형
                  </a>
              </div>
              <div class="swiper-slide " data-index="4">
                  <a href="{% url 'productsuv' %}">
                    UV 살균기
                  </a>
              </div>
              <div class="swiper-slide " data-index="5">
                  <a href="{% url 'productsot' %}">
                    기타
                  </a>
              </div>
          </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>천장형</h2>
        </div>
          <div class="body" >
            <p>천장형 공기청정기는 바닥 공간을 차지하지 않습니다. X1은 아연 도금 판금으로 제작되어 견고하고 손상에 강하며 녹이 슬지 않는 천장 장착형 공기청정기입니다. X1은 다단계 공기정화 기술을 결합하여 실내공기의 오염물질을 빠르게 파괴, 제거합니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>천장형</h2>
        </div>
          <div class="body" >
            <p>천장형 공기청정기는 바닥 공간을 차지하지 않습니다. X1은 아연 도금 판금으로 제작되어 견고하고 손상에 강하며 녹이 슬지 않는 천장 장착형 공기청정기입니다. X1은 다단계 공기정화 기술을 결합하여 실내공기의 오염물질을 빠르게 파괴, 제거합니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spx1' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144728_5241.jpg" alt="SOTO-X1 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      X1 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      천장 장착형 디자인으로 바닥 공간 절약/ 다양한 공기 정화 및 살균 기술로 공기 정화
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      견고한 금속 구조와 통합 공기 정화 기술로 실내 공기를 안정적이고 효율적으로 정화합니다. 천장 장착형 디자인으로 바닥 공간이 절약됩니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container visible-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spx1' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144728_5241.jpg" alt="SOTO-X1 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      X1 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      천장 장착형 디자인으로 바닥 공간 절약/ 다양한 공기 정화 및 살균 기술로 공기 정화
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      견고한 금속 구조와 통합 공기 정화 기술로 실내 공기를 안정적이고 효율적으로 정화합니다. 천장 장착형 디자인으로 바닥 공간이 절약됩니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>




  <!-- <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                              <li>
                                <a href="{% url 'productsfl' %}">Floor-standing</a>
                            </li>
                            <li>
                                <a href="{% url 'productspo' %}">Portable</a>
                            </li>
                            <li>
                                <a href="{% url 'productswm' %}">Wall Mounted</a>
                            </li>
                            <li>
                                <a href="{% url 'productscm' %}">Ceiling Mounted</a>
                            </li>
                            <li>
                                <a href="{% url 'productsuv' %}">UV Sterilizer</a>
                            </li>
                            <li>
                                <a href="{% url 'productsot' %}">Others</a>
                            </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div> -->

    
    


{% endblock %}
