{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'productsfl' %}">Products</a></li><li><a href="{% url 'productsfl' %}">Floor-standing</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
      <div class="swiper-container">
          <div class="swiper-wrapper">
                                  <div class="swiper-slide active swiper-slide-active" data-index="0">
                      <a href="/products/floor-standing/">
                          Floor-standing
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="1">
                      <a href="/products/portable/">
                          Portable
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="2">
                      <a href="/products/wall-mounted/">
                          Wall Mounted
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="3">
                      <a href="/products/ceiling-type/">
                          Ceiling Mounted
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="4">
                      <a href="/products/uv-sterilizer/">
                          UV Sterilizer
                      </a>
                  </div>
                  <div class="swiper-slide " data-index="5">
                      <a href="/products/others/">
                          Others
                      </a>
                  </div>
          </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>Floor-standing</h2>
        </div>
          <div class="body" >
            <p>The floor-standing air purifiers（G series）are suitable for indoor air purification and disinfection of large space, such as hospital operating room, emergency room, outpatient hall, infectious disease department, offices, etc. </p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>Floor-standing</h2>
        </div>
          <div class="body" >
            <p>The floor-standing air purifiers（G series）are suitable for indoor air purification and disinfection of large space, such as hospital operating room, emergency room, outpatient hall, infectious disease department, offices, etc. </p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g3/">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144317_7122.jpg" alt="SOTO-G3  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G3  Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Integrated air purification technologies/ Comprehensive protection against airborne pollutants
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Smart control system, integrated electrostatic adsorption technology and mechanical filtration, combined air treatment technologies provide comprehensive protection against airborne pollutants.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g5/">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144331_8161.jpg" alt="SOTO-G5 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G5 Medical Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Intelligent control system/ Multi-stage purification system
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      G5 is a floor-standing air purifier with strong germicidal effectiveness. It combines multiple air treatment technologies to effectively clean and sterilize indoor air. The smart control panel displays an array of functions and is easy to operate. Contactless hand gesture operation ensures safe and easy operation. 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g6/">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144347_1234.jpg" alt="SOTO-G6 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G6 Medical Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Multiple disinfection technologies/ Washable filters/ Easy to maintain
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Constructed with sturdy and durable metal housing, the unit combines multiple air purification and disinfection technologies to provide rapid air purification results. Washable metal pre-filter and electronic cell can be reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g2/">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144359_4844.jpg" alt="SOTO-G2 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G2 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Destroys bacteria and viruses/ Dual disinfection technologies/ Washable filters
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      All-metal construction is solid and durable. Powerful fan speed paired with dual disinfection technologies to quickly clean and disinfect the air in a large space. Washable metal pre-filter and electrostatic adsorption filters can be cleaned and reused to reduce replacement cost.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container visible-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g3/">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144317_7122.jpg" alt="SOTO-G3  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G3  Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Integrated air purification technologies/ Comprehensive protection against airborne pollutants
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Smart control system, integrated electrostatic adsorption technology and mechanical filtration, combined air treatment technologies provide comprehensive protection against airborne pollutants.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g5/">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144331_8161.jpg" alt="SOTO-G5 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G5 Medical Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Intelligent control system/ Multi-stage purification system
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      G5 is a floor-standing air purifier with strong germicidal effectiveness. It combines multiple air treatment technologies to effectively clean and sterilize indoor air. The smart control panel displays an array of functions and is easy to operate. Contactless hand gesture operation ensures safe and easy operation. 
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g6/">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144347_1234.jpg" alt="SOTO-G6 Medical Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G6 Medical Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Multiple disinfection technologies/ Washable filters/ Easy to maintain
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Constructed with sturdy and durable metal housing, the unit combines multiple air purification and disinfection technologies to provide rapid air purification results. Washable metal pre-filter and electronic cell can be reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="/products/floor-standing/air-purifier-g2/">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144359_4844.jpg" alt="SOTO-G2 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      SOTO-G2 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Destroys bacteria and viruses/ Dual disinfection technologies/ Washable filters
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      All-metal construction is solid and durable. Powerful fan speed paired with dual disinfection technologies to quickly clean and disinfect the air in a large space. Washable metal pre-filter and electrostatic adsorption filters can be cleaned and reused to reduce replacement cost.
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>



  <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/products/floor-standing/">Floor-standing</a>
                                  </li>
                                  <li>
                                      <a href="/products/portable/">Portable</a>
                                  </li>
                                  <li>
                                      <a href="/products/wall-mounted/">Wall Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/ceiling-type/">Ceiling Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/uv-sterilizer/">UV Sterilizer</a>
                                  </li>
                                  <li>
                                      <a href="/products/others/">Others</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div>

    
    


{% endblock %}
