{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>  
</style>
<body class="">
    <!-- Google Tag Manager (noscript) -->
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="path-container">
      <div class="container">
        <div class="container-box">
<div class="path">
  <ul>
    <li><a href="{% url 'home' %}">홈</a></li>
    <li><a href="{% url 'productsfl' %}">제품</a></li><li><a href="{% url 'productspo' %}">포터블</a></li>
      

  </ul>
  </div>
  <div class="page-banner-nav-swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
                                <div class="swiper-slide " data-index="0">
                    <a href="{% url 'productsfl' %}">
                    스탠드형
                  </a>
              </div>
              <div class="swiper-slide active swiper-slide-active" data-index="1">
                  <a href="{% url 'productspo' %}">
                      포터블
                  </a>
              </div>
              <div class="swiper-slide " data-index="2">
                  <a href="{% url 'productswm' %}">
                      벽걸이형
                  </a>
              </div>
              <div class="swiper-slide " data-index="3">
                  <a href="{% url 'productscm' %}">
                      천장형
                  </a>
              </div>
              <div class="swiper-slide " data-index="4">
                  <a href="{% url 'productsuv' %}">
                      UV 살균기
                  </a>
              </div>
              <div class="swiper-slide " data-index="5">
                  <a href="{% url 'productsot' %}">
                      기타
                  </a>
              </div>
      </div>

    </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>

        </div>
      </div>
    </div>





      <div class="topclsinfo hidden-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>포터블</h2>
        </div>
          <div class="body" >
            <p>포터블 공기청정기 Y/YD 시리즈는 병원 외래실, 병동, 치료실, 연구실, 진료실 등 작은 공간의 실내 공기 정화 및 살균에 적합합니다. YD 시리즈는 정전기 흡착형과 HEPA 필터형 공기청정기를 포함하고 있습니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="topclsinfo visible-xs">
    <div class="container">
      <div class="container-box">

        <div class="title" >
          <h2>포터블</h2>
        </div>
          <div class="body" >
            <p>휴대용 공기청정기(Y/YD 시리즈)는 병원 외래실, 병동, 치료실, 연구실, 진료실 등 좁은 공간의 실내 공기 정화 및 살균에 적합합니다. YD 시리즈에는 정전기 흡착식과 HEPA 필터식 공기가 포함됩니다.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="list-product">
    <div class="container hidden-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy9' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027125408_8070.jpg" alt="SOTO-Y9 Smart Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9 Smart Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템과 강력한 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9은 음성 및 손동작 제어 시스템을 탑재해 사용자 간 교차 오염을 방지하는 세계 최고 수준의 스마트 공기청정기입니다. 대형 듀얼 디스플레이 패널을 통해 실시간으로 공기질과 필터 교체 남은 시간을 확인할 수 있습니다. 혁신적인 분리형 필터 설계로 더욱 비용 효율적입니다. 또한, 필터 중앙에 내장된 UV-Photo 촉매는 병원균을 대폭 파괴할 수 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy3' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144437_3104.jpg" alt="SOTO-Y3  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y3 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      360˚ 흡입구/핸드 모션 제어/분리형 필터 설계/UV 광촉매
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      혁신적인 비접촉식 손 제스처 컨트롤은 교차 오염을 방지하는 데 도움이 됩니다. 순환여과 시스템 중앙에 설치된 UV-Photo 촉매산화 장치가 공기 중의 유해 오염물질을 파괴합니다. 필터 분리 설계로 불쾌한 냄새를 효과적으로 방지하고 필터 교체 비용을 절감해줍니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy6' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230620/20230620172748_1408.jpg" alt="SOTO-Y6  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 is an intelligent air purifier with next-generation sterilizing technology. Sleek tower-style design saves space. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy8' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144507_8474.jpg" alt="SOTO-Y8 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 is an intelligent air purifier with next-generation sterilizing technology. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spyd1' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144524_5089.jpg" alt="SOTO-YD1 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      YD1 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      세척 가능한 프리필터 및 전자 셀/다중 필터/전체 금속 구조
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      All-metal construction is solid and durable. Integration of multiple purification and disinfection technologies efficiently deliver clean air. Washable metal pre-filter and electronic cell can be cleaned and reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spyd2' %}">
                  <div class="img" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144548_0926.jpg" alt="SOTO-YD2 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      YD2 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      세척 가능한 금속 프리필터 및 전자셀 / 멀티 공기청정 기술 결합
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="0" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Metal exterior is solid and durable. Maintenance is easy with no tools needed. Washable metal pre-filter and electronic cell can be cleaned and reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container visible-xs">
      <div class="container-box">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy9' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027125408_8070.jpg" alt="SOTO-Y9 Smart Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9 Smart Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      지능형 제어 시스템과 강력한 살균 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y9은 음성 및 손동작 제어 시스템을 탑재해 사용자 간 교차 오염을 방지하는 세계 최고 수준의 스마트 공기청정기입니다. 대형 듀얼 디스플레이 패널을 통해 실시간으로 공기질과 필터 교체 남은 시간을 확인할 수 있습니다. 혁신적인 분리형 필터 설계로 더욱 비용 효율적입니다. 또한, 필터 중앙에 내장된 UV-Photo 촉매는 병원균을 대폭 파괴할 수 있습니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy3' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144437_3104.jpg" alt="SOTO-Y3  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y3 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      360° 흡기구/ 손동작 제어/ 별도의 필터 설계/ UV-PCO 시스템
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      혁신적인 비접촉식 손 제스처 컨트롤은 교차 오염을 방지하는 데 도움이 됩니다. 순환여과 시스템 중앙에 설치된 UV-Photo 촉매산화 장치가 공기 중의 유해 오염물질을 파괴합니다. 필터 분리 설계로 불쾌한 냄새를 효과적으로 방지하고 필터 교체 비용을 절감해줍니다.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy6' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230620/20230620172748_1408.jpg" alt="SOTO-Y6  Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y6 is an intelligent air purifier with next-generation sterilizing technology. Sleek tower-style design saves space. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spy8' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144507_8474.jpg" alt="SOTO-Y8 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      차세대 살균기술을 탑재한 지능형 공기청정기
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Y8 is an intelligent air purifier with next-generation sterilizing technology. Hand gesture operation helps prevent cross-contamination. The UV-Photo catalytic oxidation technology is constructed in the center of the circular filtration system to maximize air purification and sterilization performance.
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spyd1' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144524_5089.jpg" alt="SOTO-YD1 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      YD1 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      세척 가능한 프리필터 및 전자 셀/다중 필터/전체 금속 구조
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      All-metal construction is solid and durable. Integration of multiple purification and disinfection technologies efficiently deliver clean air. Washable metal pre-filter and electronic cell can be cleaned and reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="item">
                <a href="{% url 'spyd2' %}">
                  <div class="img" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                    <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20221027/20221027144548_0926.jpg" alt="SOTO-YD2 Air Purifier" />
                  </div>
                  <div class="txt">
                    <div class="tit" data-aos="fade" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      YD2 Air Purifier
                    </div>
                    <div class="tit-sub" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      세척 가능한 금속 프리필터 및 전자셀 / 멀티 공기청정 기술 결합
                    </div>
                    <div class="desc" data-aos="fade-up" data-aos-offset="120" data-aos-duration="1000" data-aos-easing="linear" data-aos-delay="0" data-aos-once="False">
                      Metal exterior is solid and durable. Maintenance is easy with no tools needed. Washable metal pre-filter and electronic cell can be cleaned and reused to reduce replacement cost.
<br/>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="page-pager">
      
    </div>
  </div>



  <!-- <div id="navdivfoot">
      <div class="nav" id="">
          <ul>
                  <li class="">
                      <a href="/new-products/">New Products</a>
                  </li>
                  <li class="">
                      <a href="/products/floor-standing/">Products</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/products/floor-standing/">Floor-standing</a>
                                  </li>
                                  <li>
                                      <a href="/products/portable/">Portable</a>
                                  </li>
                                  <li>
                                      <a href="/products/wall-mounted/">Wall Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/ceiling-type/">Ceiling Mounted</a>
                                  </li>
                                  <li>
                                      <a href="/products/uv-sterilizer/">UV Sterilizer</a>
                                  </li>
                                  <li>
                                      <a href="/products/others/">Others</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/support/operation-manual/">Support</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/support/operation-manual/">Operation Manual</a>
                                  </li>
                                  <li>
                                      <a href="/support/video/">Video</a>
                                  </li>
                                  <li>
                                      <a href="/support/certificates/">Certificates</a>
                                  </li>
                                  <li>
                                      <a href="/support/service/">Service</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/brand/company/">About Us</a>
                          <span class="kg"></span>
                          <ul>
                                  <li>
                                      <a href="/brand/company/">Company</a>
                                  </li>
                                  <li>
                                      <a href="/brand/certificates/">Certificates</a>
                                  </li>
                          </ul>
                  </li>
                  <li class="">
                      <a href="/contact/">Contact Us</a>
                  </li>
              
          </ul>
      </div>
      <div class="info">
          <div class="lang">
              
              
          </div>
          <div class="wx-tel">
                  <div class="img">
                      <img src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/attached/image/20230724/20230724101623_0085.png" alt="关注一下" />
                  </div>
          </div>

      </div>
      <div class="copy">
          <div class="container">
              <div class="txt">
                  <p style="text-align: center;"><span style="font-size: 14px;">Copyright © 2021&nbsp;SOTO Air Purification Technology (Langfang) Co., Ltd.</span></p><p><span style="font-size: 14px;">All rights reserved.&nbsp;</span></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p>
      </p>
              </div>

          </div>
      </div>
  </div> -->

    
    


{% endblock %}
