{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>

	
</style>
</style>
<body class="">
	
	
  

		<div style="margin: 160px 0 160px 0;">
			<h2 id="successsubtext3" style="text-align: center;">문의완료
			</h2>
			<br>
			<br>
			<h3 class="successsubtext2" style="text-align: center;">빠르게 답변드리겠습니다.
			</h3>
			<br>
			<br>
			<div style="text-align: center;"><button class="layui-btn buttonHover" style="text-align: center;"><a href="{% url 'home' %}" style="color: white;">홈으로 이동</a></button></div>
    </div>

		<br>
			
      <!-- <button class="layui-btn buttonHover" style="height: 55px;font-size: 18px;"><a href="{% url 'home' %}" style="color: white;background-color: #7f4a2a;text-align: center;border-bottom-color: #7f4a2a;">홈으로 이동</a></button> -->
			
	</body>
</html>
{% endblock %}