{% extends 'header.html' %}
{% load static %}

{% block content %}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNZ3M7"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    

    			<div class="path-container">
				<div class="container">
					<div class="container-box">
<div class="path">
    <ul>
        <li><a href="{% url 'home' %}">홈</a></li>
        <li><a href="{% url 'suppom' %}">지원</a></li><li><a href="{% url 'suppserv' %}">서비스</a></li>
        

    </ul>
    </div>
    <div class="page-banner-nav-swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide " data-index="0">
    <a href="{% url 'suppom' %}">
                                운영 매뉴얼
    </a>
</div>
<div class="swiper-slide " data-index="1">
    <a href="{% url 'suppvi' %}">
                                동영상
    </a>
</div>
<div class="swiper-slide " data-index="2">
    <a href="{% url 'suppcert' %}">
        인증서
    </a>
</div>
<div class="swiper-slide active swiper-slide-active" data-index="3">
    <a href="{% url 'suppserv' %}">
        서비스
    </a>
</div>
</div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

					</div>
				</div>
			</div>





    		<div class="topclsinfo hidden-xs">
			<div class="container">
				<div class="container-box">

					<div class="title" >
						<h2>서비스</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="topclsinfo visible-xs">
			<div class="container">
				<div class="container-box">

					<div class="title" >
						<h2>서비스</h2>
					</div>
				</div>
			</div>
		</div>
			<div class="sh-box hidden-xs">
				<div class="container">
					<div class="container-box">
							<h3 >서비스 기간 및 절차</h3>

                            <div class="body" >
                                <h4><strong>본 제품은 소비자기본법에 의한 소비자분쟁해결기준에 의거하여 교환 또는 환불 받으실 수 있습니다. </strong></h4>
                                <br>
                                <h4><strong>보증기간 내에 생긴 고장은 다음과 같은 경우 일체의 서비스 및 부품비를 받지 않습니다. </strong></h4>
                                <p>1) 처음 설치할 때 제품 자체에 이상이 있을 경우</p>
                                <p>2) 정상적인 작동 상태에서 제조상의 결함으로 고장이 발생하였을 경우 </p>
                                <p>3) 구입 후 1년 이내에 고장이 발생하여 수리를 요청하는 경우</p>
                                <p>4) 제품 보증 기간내 부품 단종 등으로 인한 수리 불가능한 경우<br/></p>
                                <p>5) 소비자가 수리 의뢰한 제품을 '당사'가 분실한 경우</p>
                                <p>6) 제품 구입시 운송 과정에서 고장 및 파손이 발생한 경우<br/></p>
                                <!-- <p>(4) 잘못된 전력선 전압, 서지 등 외부 원인으로 인한 손상.</p>
                                <p>(5) 무단 수리 또는 개조로 인한 손상.<br/></p>
                                <p>(6) 남용이나 방치로 인한 손해.<br/></p>
                                <p>(7) 화재, 홍수, 낙뢰, 지진 등의 천재지변으로 인한 손해.<br/></p>
                                <p>(8) 부적절한 설치 또는 설정으로 인한 손상.<br/></p>
                                <p>(9) HEPA 필터, 활성탄 필터 또는 기타 액세서리의 정기적인 교체가 필요한 등 부적절한 유지 관리로 인해 발생한 오작동.<br/></p> -->
                                <p><br/></p>
                                <h4><strong>다음의 경우에는 유상 서비스 적용과 부품비를 받습니다.</strong></h4>
                                <p>1) 보증기간이 경과된 경우</p>
                                <p>2) 제품을 떨어뜨리거나 취급 부주의(운반, 무리한 작동)와 같은, 고객의 과실로 인하여 제품 파손 및 기능상 고장이 발생한 경우<br/></p>
                                <p>3) 사용설명서의 요구사항에 따라 제품을 사용, 유지, 보관하지 않아 인위적인 손상을 초래한 경우<br/></p>
                                <p>4) 화재수해, 이상 전압 등 천재지변으로 인한 고장이 발생하였을 경우</p>
                                <p>5) 사용상정상마모되는소모성부품,또는성능,기능상하자가없는상태에서부품교환을요청할경우
                                    (정기적으로 교체해야 하는 필터는 보증 대상이 아닙니다.)</p>
                                <p>6) 구입하신 대리점이나 지정 A/S센터가 아닌 장소에서 임의로 제품을 개조 및 수리하였을경우    
                                <p>7) 보증 제품의 모델 및 제품 번호와 일치하지 않을 경우  
                                <p><br/></p><p><strong></strong></p>
                                <h4><strong>배송비 Costs</strong></h4>
                                
                                <p>1. 보증 범위에 포함되지 않는 수리의 경우 배송비를 포함한 비용은 고객이 부담해야 합니다.<br/></p>
                                <p>2. 보증이 적용되는 결함에 대해 SOTO는 수리 및 반품에 필요한 배송 비용을 지불합니다. 믿을 수 있는 배송업체를 이용해주세요. 환불, 교환, 수리 절차는 제품이 수령되는 즉시 시작됩니다.<br/></p>
                                <p><br/></p>
                            </div>
					</div>
				</div>
			</div>
			<div class="sh-box visible-xs">
				<div class="container">
					<div class="container-box">
							<h3 >서비스 기간 및 절차</h3>

						<div class="body" >
							<h4><strong>본 제품은 소비자기본법에 의한 소비자분쟁해결기준에 의거하여 교환 또는 환불 받으실 수 있습니다. </strong></h4>
                            <h4><strong>보증기간 내에 생긴 고장은 다음과 같은 경우 일체의 서비스 및 부품비를 받지 않습니다. </strong></h4>
                            <p>1) 처음 설치할 때 제품 자체에 이상이 있을 경우</p>
                            <p>2) 정상적인 작동 상태에서 제조상의 결함으로 고장이 발생하였을 경우 </p>
                            <p>3) 구입 후 1년 이내에 고장이 발생하여 수리를 요청하는 경우</p>
                            <p>4) 제품 보증 기간내 부품 단종 등으로 인한 수리 불가능한 경우<br/></p>
                            <p>5) 소비자가 수리 의뢰한 제품을 '당사'가 분실한 경우</p>
                            <p>6) 제품 구입시 운송 과정에서 고장 및 파손이 발생한 경우<br/></p>
                            <!-- <p>(4) 잘못된 전력선 전압, 서지 등 외부 원인으로 인한 손상.</p>
                            <p>(5) 무단 수리 또는 개조로 인한 손상.<br/></p>
                            <p>(6) 남용이나 방치로 인한 손해.<br/></p>
                            <p>(7) 화재, 홍수, 낙뢰, 지진 등의 천재지변으로 인한 손해.<br/></p>
                            <p>(8) 부적절한 설치 또는 설정으로 인한 손상.<br/></p>
                            <p>(9) HEPA 필터, 활성탄 필터 또는 기타 액세서리의 정기적인 교체가 필요한 등 부적절한 유지 관리로 인해 발생한 오작동.<br/></p> -->
                            <p><br/></p>
                            <h4><strong>다음의 경우에는 유상 서비스 적용과 부품비를 받습니다.</strong></h4>
                            <p>1) 보증기간이 경과된 경우</p>
                            <p>2) 제품을 떨어뜨리거나 취급 부주의(운반, 무리한 작동)와 같은, 고객의 과실로 인하여 제품 파손 및 기능상 고장이 발생한 경우<br/></p>
                            <p>3) 사용설명서의 요구사항에 따라 제품을 사용, 유지, 보관하지 않아 인위적인 손상을 초래한 경우<br/></p>
                            <p>4) 화재수해, 이상 전압 등 천재지변으로 인한 고장이 발생하였을 경우</p>
                            <p>5) 사용상정상마모되는소모성부품,또는성능,기능상하자가없는상태에서부품교환을요청할경우
                                (정기적으로 교체해야 하는 필터는 보증 대상이 아닙니다.)</p>
                            <p>6) 구입하신 대리점이나 지정 A/S센터가 아닌 장소에서 임의로 제품을 개조 및 수리하였을경우    
                            <p>7) 보증 제품의 모델 및 제품 번호와 일치하지 않을 경우  
                            <p><br/></p><p><strong></strong></p>
                            <h4><strong>배송비 Costs</strong></h4>
                            
                            <p>1. 보증 범위에 포함되지 않는 수리의 경우 배송비를 포함한 비용은 고객이 부담해야 합니다.<br/></p>
                            <p>2. 보증이 적용되는 결함에 대해 SOTO는 수리 및 반품에 필요한 배송 비용을 지불합니다. 믿을 수 있는 배송업체를 이용해주세요. 환불, 교환, 수리 절차는 제품이 수령되는 즉시 시작됩니다.<br/></p>
                            <p><br/></p>
						</div>
					</div>
				</div>
			</div>
			<div class="sh-box2 hidden-xs">
				<!-- <div class="container">
					<div class="container-box">
						<h3 >服务站点</h3>
						<div class="list">
								<div class="item">
									<h4 >Beijing</h4>
									<div class="t1" >Beijing Parngio Int. Trading Co., Ltd.</div>
									<div class="t2" >Add: 3-19 Zijing yayuan Tonghu Street, Tongzhou Dist., Beijing</div>
									<div class="t3" >Tel: 4001-163-263</div>
									<div class="t4" >Email: salespg@soto.com.cn</div>
									<div class="t5" >After-sales service: 13911766103</div>
								</div>
						</div>
					</div>
				</div> -->
			</div>
			<div class="sh-box2 visible-xs">
				<!-- <div class="container">
					<div class="container-box">
						<h3 >服务站点</h3>
						<div class="list">
								<div class="item">
									<h4 >Beijing</h4>
									<div class="t1" >Beijing Parngio Int. Trading Co., Ltd.</div>
									<div class="t2" >Add: 3-19 Zijing yayuan Tonghu Street, Tongzhou Dist., Beijing</div>
									<div class="t3" >Tel: 4001-163-263</div>
									<div class="t4" >Email: salespg@soto.com.cn</div>
									<div class="t5" >After-sales service: 13911766103</div>
								</div>
						</div>
					</div>
				</div> -->
			</div>




    
    <script src="https://sotoairpurifier-oss.oss-cn-beijing.aliyuncs.com/content/bundleen.min.js?v=20220412-001"></script>
    
    
    <script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript">
        var someImages = document.querySelectorAll('img');
        objectFitImages(someImages);
        //AOS.init({
        //	easing: 'ease-out-back',
        //	duration: 1000
        //});
        AOS.init();
        document.onreadystatechange = function () {
            if (document.readyState === 'complete') {
                AOS.init();
            }
        }

        //2022 视频16：9
        $(function () {

            //微信
            var wxOption = {
                title: 'SOTO赛多空气消毒机官网',
                link: location.href,
                imgUrl: 'https://www.sotoairpurifier.com/content/img/fx.jpg',
                desc: '高端消毒机 专业选赛多 https://www.soto.cn'
            }
            var appId = "wx7f9548d8827a59e6";
            $.ajax({
                url: 'https://api.soto.cn/api/wx/jsapisignatureasync',
                data: { appId: appId, url: wxOption.link },
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    if (res.statusCode == 200) {
                        var data = res.data;
                        wx.config({
                            debug: false, //
                            appId: appId, // 必填，公众号的唯一标识
                            timestamp: Number(data.timestamp), // 必填，生成签名的时间戳
                            nonceStr: data.noncestr, // 必填，生成签名的随机串
                            signature: data.signature,// 必填，签名
                            jsApiList: ['updateAppMessageShareData',
                                'updateTimelineShareData',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'onMenuShareQZone',] // 必填，需要使用的JS接口列表
                        });
                        wx.ready(function () {
                            wx.onMenuShareTimeline({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                success: function () {
                                    // 用户点击了分享后执行的回调函数
                                },
                            });
                            wx.updateAppMessageShareData({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                desc: wxOption.desc, // 分享描述
                                success: function () {
                                    // 设置成功
                                },
                            });
                            wx.updateTimelineShareData({
                                title: wxOption.title, // 分享标题
                                link: wxOption.link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: wxOption.imgUrl, // 分享图标
                                success: function () {
                                    // 设置成功
                                },
                            });

                        });
                        wx.error(function (ress) {
                            console.log(ress)
                        });
                    }
                    else {
                        console.log(res)
                    }
                }

            });

            $(window).resize(function () {
                var videoH = $('.video-js').width() / 16 * 9;
                var winW = $(window).width();
                if (location.href.includes('brand/company')) {
                    //未知，只适用企业简介视频
                    if (winW < 768) {
                        videoH = winW / 16 * 9 - 16;
                    }
                }
                $('.video-js').css({ height: videoH + 'px' })
            });
            var videoH = $('.video-js').outerWidth() / 16 * 9;
            var winW = $(window).width();
            if (location.href.includes('brand/company')) {
                //未知，只适用企业简介视频
                if (winW < 768) {
                    videoH = winW / 16 * 9 - 16;
                }
            }

            $('.video-js').css({ height: videoH + 'px' })
            console.log($('.video-js').outerWidth(), '$(.video - js).width()')
            console.log(videoH, 'videoH')

            console.log($(window).width(), 'windows width')
        })
    </script>

    <div class="footer-icon">
        <ul>
            <li>
                <div class="item" id="fot1">
                    <div class="img">
                        <img src="/Content/Images/icon/2023/email.png" />
                    </div>
                    <div class="hover" style="width:290px;left:-290px;">
                        <div class="closess">
                            <i class="layui-icon layui-icon-close"></i>
                        </div>
                        <p>sotosales1@outlook.com</p>
                        <a href="mailto:sotosales1@outlook.com">sotosales1@outlook.com</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="item" id="fot2">
                    <div class="img">
                        <img src="/Content/Images/icon/2023/whatsapp.png" />
                    </div>
                    <div class="hover">
                        <div class="closess">
                            <i class="layui-icon layui-icon-close"></i>
                        </div>
                        <p>13811411994</p>
                        <a href="tel:13811411994">13811411994</a>
                    </div>
                </div>

            </li>
            <li>
                <a href="/contact/">
                    <img src="/Content/Images/fot-3.png" />
                    <p>
                        Contact <br />Us
                    </p>
                </a>
            </li>
        </ul>
    </div>


</body>
</html>
{% endblock %}